/*  Default input parameters  */
params {
    genome = "$baseDir/data/genome.fa"
    out_prefix = "smn1"
    outdir = "$baseDir/results"
}

/*  Workflow profiles  */
profiles {
  standard {
    process.executor = "local"
    docker.enabled = true
  }
}

/*  custom process level configuration  */
process {
  withName: TRNASCAN {
    container = "quay.io/biocontainers/trnascan-se:2.0.7--pl526h516909a_0"
  }
  withName: PARSE_SS {
    container = "perl:5.41"
  }
}