/*  Default input parameters  */
params {
    genome = "$baseDir/data/genome.fa"
    outdir = "$baseDir/results"
    blast_subject = "$baseDir/data/genes.fa"
    blast_query = "$baseDir/data/sequence.fa"
}

/*  Workflow profiles  */
profiles {
  standard {
    process.executor = "local"
    docker.enabled = true
  }
}

/*  custom process level configuration  */
process {
  withName: TRNASCAN {
    container = "quay.io/biocontainers/trnascan-se:2.0.7--pl526h516909a_0"
  }
  withName: PARSE_SS {
    container = "perl:5.41"
  }
  withName: CREATE_BLASTN_DB {
    container = "ncbi/blast:2.16.0"
  }
  withName: BLASTN {
    container = "ncbi/blast:2.16.0"
  }
}